body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.searchItem {
  margin: 10px;
}

.submitDate {
  margin: 10px;
}

.option-select {
  width: 200px;
  margin: 10px 0;
}

.errorMessage {
  position: fixed;
  top: 100px;
  left: 400px;
}

.option-item {
  display: flex;
  align-items: center;
  margin: 4px 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: black;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  margin-right: 8px;
  position: relative;
  box-shadow: none;
  font-family: 'Courier New', Courier, monospace;
}

.custom-checkbox:checked::after {
  content: 'o';
  color: white;
  background-color: yellowgreen;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

.checkbox-label {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: none;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

.button-searchbar {
  background-color: yellowgreen;
  border: 1px solid black;
  box-shadow: none;
  color: white;
  border-color: white;
  border-radius: 0px;
  font-family: 'Courier New', Courier, monospace;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background-color: yellowgreen;
  border: 1px solid black;
  box-shadow: none;
  color: white;
  border-color: white;
}

.button-searchbar:active {
  background-color: white;
  border: 1px solid black;
  box-shadow: none;
  color: balck;
  border-color: black;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 0px;
}

.button-searchbar:hover {
  cursor: pointer;
  text-decoration: underline;
}